<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Open Data Chatbot</h1>
    <!-- <h3>A web implementation of <a href="https://github.com/gunthercox/ChatterBot">ChatterBot</a> using Flask.</h3> -->
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! I'm Open Data Chatbot.</span></p>
      </div>
      <div id="userInput">
        <!-- add buttons for available exploration direction -->
        <!-- <input id="facets" class="botBtn" type="submit" value="Facets"> -->
        <input id="otherInput" class="botBtn" type="submit" value="Next">
        <!-- <input id="pivotInput" class="botBtn" type="submit" value="Pivot"> -->
        <input id="similarInput" class="botBtn" type="submit" value="More">
        <input id="textInput" type="text" name="msg" placeholder="Message" autofocus>
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<div class="userText"><span>' + rawText + '</span></div>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<div class="botText"><span>' + data + '</span></div>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        function getDifferentItems() {
          $.get("/get").done(function(data) {
            var botHtml = '<div class="botText"><span>' + data + '</span></div>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        function showFacets() {
          $.get("/facets").done(function(data) {
            var botHtml = '<div class="botText"><span>' + data + '</span></div>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        function showSamples(facet, entity) {
          $.get("/samples", { facet: facet, entity: entity }).done(function(data) {
            var botHtml = '<div class="botText"><span>' + data + '</span></div>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        function getMoreItems() {
          $.get("/more").done(function(data) {
            var botHtml = '<div class="botText"><span>' + data + '</span></div>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        function showDataset(datasetID) {
          $.get("/show", { msg: datasetID }).done(function(data) {
            var botHtml = '<div class="botText"><span>' + data + '</span></div>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        function summarizeItems() {
          $.get("/summary").done(function(data) {
            var botHtml = '<div class="botText"><span>' + data + '</span></div>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();
            }
        });
        $("#facets").click(function(e) {
            showFacets();
        });
        $("#similarInput").click(function() {
            getMoreItems();
        });
        $("#otherInput").click(function() {
            getDifferentItems();
        });
        $("#pivotInput").click(function() {
            summarizeItems();
        });
      </script>
    </div>
  </body>
</html>